* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(3, 3, 51);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul a {
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    color: rgb(180, 180, 245);
    font-size: 1.01rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 1.75rem;
}

.rightSection img {
    width: 80%;
    margin: 50px 0;
}

.purple {
    color: rgb(154, 101, 204);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(154, 101, 204);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 56vh;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 50px 84px;
}

.secondSection h1 {
    font-size: 1.5rem;
}

.secondSection .box {
    background: white;
    width: 76vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    flex-wrap: wrap;
    /* Added to wrap content in smaller screens */
}

.secondSection .vertical {
    height: 30px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    font-size: 12px;
    width: 120px;
}

.vertical-desc {
    position: relative;
    top: 15px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

footer {
    background-color: #010124;
    height: 113px;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}

.leftSection .btn {
    padding: 3px;
    background-color: #010124;
    color: white;
    border: 1.75px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.leftSection .buttons {
    padding: 23px 0;
}

@media screen and (max-width: 768px) {
    .firstSection {
        flex-direction: column;
        text-align: center;
    }

    .firstSection>div {
        width: 100%;
    }

    .rightSection img {
        width: 100%;
    }

    .secondSection .box {
        width: 100%;
    }

    .secondSection .vertical {
        margin: 0 20px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer>div {
        width: 100%;
        margin-bottom: 20px;
    }
}